header{
   nav, h1, ul, li{
    display: inline-block;
    padding-inline: 10px;
   } 
}

body{
    height: 100%;
    font-family: Rockwell;
    background-color: #dfd8bc;
}

.copyright{
    color: gray;
    position: absolute;
    width:100%;
    text-align: center;
    bottom: 0;
}